@charset "UTF-8";

/* ------------------------------------------- CSS Information 
 File Name:      list.css
 Author:         Dxmix
 Style Info:     リスト設定
----------------------------------------------------------- */

p.list{margin:0; padding:0;}

ul{margin:0; padding:0;}

.li00,.li01,.li02,.li03,.li04,.li05,.li06,.li07,.li08,.li09,.li10{
line-height: 20px;
padding-left: 20px;
font-weight: bold;
background-image: url(../img/list/list.png);
background-repeat: no-repeat;
list-style-type: none;
list-style-position : inside;
}

.li01{background-position: 0 0;}
.li02{background-position: 0 -20px;}
.li03{background-position: 0 -40px;}
.li04{background-position: 0 -60px;}
.li05{background-position: 0 -80px;}
.li06{background-position: 0 -100px;}
.li07{background-position: 0 -120px;}
.li08{background-position: 0 -140px;}
.li09{background-position: 0 -160px;}
.li10{background-position: 0 -180px;}
