@charset "UTF-8";

/* ------------------------------------------- CSS Information 
 File Name:      slhp.css
 Author:         Dxmix
 Style Info:     セールスレター型ホームページ詳細設定
----------------------------------------------------------- */


body{  
font-family: Osaka,"メイリオ","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",Arial,Sans-Serif;
color: #333333;
font-size: 15px;
line-height: 0;
text-align: center;
background: #f7f8f4;
}

/*header*/

#header{
text-align: center;
background: url(../img/header/bg.png) no-repeat center top;
}

#letter{
text-align: left;
background: #ffffff url(../img/contents/letter_bg.png) no-repeat center fixed;
}

.movie01{
margin: 20px auto;
background: url(../img/contents/movie_bg.png) no-repeat center top;
padding:50px 50px 170px 50px;
}


.wrapper{
margin: 0 auto;
width: 980px;
}

.wrapper_tsh{
margin: 0 auto;
padding: 80px 0;
width: 980px;
background: url(../img/bg/wrap01.png) repeat-y left top;
}

.bg01{background:#ffffff url(../img/bg/bg01.png) no-repeat center fixed;}
.bg02{background:#ffffff url(../img/bg/bg02.png) no-repeat center fixed;}
.bg03{background:#ffffff url(../img/bg/bg03.png) no-repeat center fixed;}
.bg04{background:#ffffff url(../img/bg/bg04.png) no-repeat center fixed;}
.bg05{background:#ffffff url(../img/bg/bg05.png) no-repeat center fixed;}
.bg06{background:#ffffff url(../img/bg/bg06.png) no-repeat center fixed;}
.bg07{background:#ffffff url(../img/bg/bg07.png) no-repeat center fixed;}
.bg08{background:#ffffff url(../img/bg/bg08.png) no-repeat center fixed;}
.bg_msg{
background:#f7f8f4 url(../img/bg/msg.png) no-repeat center fixed;
border-top: 5px solid #333333;
}
.bg_prs{background:#ffffff url(../img/bg/prs.png) no-repeat center fixed;}

.textbox{
margin: 0 auto;
padding:60px 20px;
width: 940px;
text-align: justify;
line-height: 30px;
}

.textbox p{
margin: 0;
padding:15px 0;
}

p.up{padding:0 0 15px 0;}
p.down{padding:15px 0 0 0;}

/*present*/

#present{
margin : 0 auto 0 auto;
padding-bottom:40px;
}


.prs_bg{
width: 960px;
margin : 0 auto;
background: url(../img/present/text_bg.png) repeat-y left top;
}





/*user*/

.user{
width: 530px;
margin : 0 0 0 450px;
}


.user_bg{
margin : 0 auto;
text-align: left;
background: url() repeat-y left top;
}

.user_text{
color: #333333;
padding: 60px 20px;
line-height: 30px;
text-align: justify;
	text-shadow:
		-1px -1px #fff,
		1px -1px #fff,
		-1px 1px #fff,
		1px 1px #fff;
}



/*form*/

.form_bg{
background: #172735 url(../img/form/bg.png) no-repeat center top;
height:740px;
}

form{
margin:0 auto;
width: 900px;
padding:300px 0 20px 0;
}

.inputtext{
width:600px;
font-size:30px;
line-height:40px;
margin:0 0 20px 0;
}


form img{vertical-align: -10px;}

.submitbutton{width:80%;}




/*footer*/

footer{
padding: 5px;
line-height: 20px;
font-size: 12px;
color: #ffffff;
background: #000000;
}

address{padding: 5px;}

p ul{margin-top:0;}

.list_01{
line-height: 30px;
font-size: 18px;
padding: 0 0 0 25px;
font-weight: bold;
background: url(../img/contents/list_01.png) no-repeat center left;
list-style-type: none;
list-style-position : inside;
}

.box_02{
border:1px solid #333333;
margin:15px 0;
padding:15px;
}

.list_02{
line-height: 30px;
font-size: 18px;
padding: 0 0 0 25px;
font-weight: bold;
background: url(../img/contents/list_01.png) no-repeat center left;
list-style-type: none;
list-style-position : inside;
}


#tokutei{
margin: 0 auto ;
width: 800px;
line-height: 20px;
font-size: 12px;
}

.c_title{
text-align: left;
font-size: 14px;
font-weight: bold;
padding:0 0 10px 0;
}

.t_left{
width: 180px;
padding: 5px;
}

.t_right{
padding: 5px;
text-align: justify;
text-justify: inter-ideograph;
}