/bootstrap/compiled.php
/vendor
/node_modules
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
_ide_helper.php
tests/_output/*
.idea/*
**/.DS_Store
*/.DS_Store
.DS_Store?
.DS_Store
../nbproject/*