/****** Color variables *******/
$main-text: #2B394F;
$body-text: #607594;
$light-body-text: rgba(96, 117, 147, 0.6);
$primary-blue: #3D85F2;
$border-dark: #CCD2DB;
$border-light: #DCE0E6;
$bg-dark: #F7F8FA;
$bg-light: #4B596D;
$dark-header-text: #303941;
$white-bg: #fff;
$success-color: #7ed321;
$pending-color: #a0acc7;;
$refunded-color: #3d85f2;;

/********* padding variables *******/
$btn-small-padding: 3px 12px;
$btn-normal-padding: 9px 18px;
$btn-large-padding: 15px 24px;
$table-column-padding: 7px 0 !important;

//--------------------------------------
// Font, line-height, headings, and more.
//--------------------------------------

// Font sizes
$font-size-label: 12px;
$font-size-body: 13px;
$font-size-h1: 28px;
$font-size-h2: 20px;
$font-size-h3: 15px;

// Line heights
$line-height-h1: 36px !important;
$line-height-h2: 26px !important;
$line-height-h3: 20px !important;
$line-height-normal: 18px !important;
$line-height-small: 17px !important;

